{
  "singleQuote": true,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "ignore",
  "useTabs": false,
  "plugins": [
    "prettier-plugin-organize-imports"
  ],
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "printWidth": 80
}
