@use "sass:map";
@use "variables";

@mixin sao-setup-typography() {
  @each $key, $value in variables.$sao-work-sans-keys {
    --sao-typography-#{$key}-font-size: #{map.get($value, font-size)};
    --sao-typography-#{$key}-line-height: #{map.get($value, line-height)};
  }
}

@mixin sao-use-work-sans($key, $weight: 400) {
  font-family: #{variables.$sao-work-sans-family};
  font-weight: $weight;
  font-size: var(--sao-typography-#{$key}-font-size);
  line-height: var(--sao-typography-#{$key}-line-height);
}
