$sao-work-sans-family: 'Work Sans';
$sao-work-sans-keys: (
  h1: (
    font-size: 72px,
    line-height: 90px,
  ),
  h2: (
    font-size: 60px,
    line-height: 72px,
  ),
  h3: (
    font-size: 48px,
    line-height: 60px,
  ),
  h4: (
    font-size: 36px,
    line-height: 44px,
  ),
  h5: (
    font-size: 30px,
    line-height: 38px,
  ),
  h6: (
    font-size: 24px,
    line-height: 32px,
  ),
  b1: (
    font-size: 20px,
    line-height: 30px,
  ),
  b2: (
    font-size: 18px,
    line-height: 28px,
  ),
  b3: (
    font-size: 16px,
    line-height: 24px,
  ),
  b4: (
    font-size: 14px,
    line-height: 20px,
  ),
  b5: (
    font-size: 12px,
    line-height: 18px,
  ),
);
